
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <!-- Navbar Brand (Logo) -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <div class="d-flex align-items-center">
                <i class="fa-solid fa-hippo fa-3x"></i>
                <div>
                    <h4 class="mb-0 mx-3">Job Pro</h4>
                    <h6 class="mb-0 mx-3">Job Application Optimizer</h6>
                </div>
            </div>
        </a>

        <!-- Navbar Toggle Button for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <span class="fa-solid fa-bars"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Features
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Pricing
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>